@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
@inject IHttpContextAccessor HttpContextAccessor

<div class="">
    @Body

    @if (HttpContextAccessor.HttpContext?.User.Identity?.IsAuthenticated ?? false)
    {
        <footer>
            <i>Welcome, @HttpContextAccessor.HttpContext?.User.Identity.Name</i>
        </footer>
    }
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
