@using DiscordBot.Business.Helpers.Blazor
@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
@inject IHttpContextAccessor HttpContextAccessor

<div class="mx-4 d-flex flex-column min-vh-100">
    <h2><a href="@RouteHelper.Home">Home</a></h2>
    <div class="container text-center"></div>

    @Body

    <footer class="mt-auto">
        @if (HttpContextAccessor.HttpContext?.User.Identity?.IsAuthenticated ?? false)
        {
            <i>Welcome, @HttpContextAccessor.HttpContext?.User.Identity.Name</i>
            <button class="btn btn-danger">Logout</button>
        }
        else
        {
            <b>Bruh ain't logged in, couldn't be me.</b>
        }
        <p>@(@HttpContextAccessor.HttpContext?.User.Identity?.Name ?? "-")</p>
    </footer>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
