@using DiscordBot.Business.Helpers.Blazor
@using DiscordBot.Models.Internal.Configs
@using Microsoft.Extensions.Options
@inherits LayoutComponentBase
@inject IHttpContextAccessor Context
@inject IOptions<Configuration> Options
<header>
    <h1>HEADER</h1>
    @if (Context.HttpContext?.User.Identity?.IsAuthenticated ?? false)
    {
        <p>Welcome, <b>@Context.HttpContext.User.Identity.Name</b></p>
        <a href="/User/Logout">Logout</a>
    }
    else
    {
        <a href="@RouteHelper.CreateAuthUrl(Options.Value.Discord)">Authenticate with Discord</a>
    }
    <p>------</p>
</header>
@Body

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
