@using DiscordBot.Business.Helpers.Blazor
@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
@inject IHttpContextAccessor HttpContextAccessor

<h2><a href="@RouteHelper.Home">Home</a></h2>
<div class="mx-4 d-flex flex-column min-vh-100">
    <div class="container text-center"></div>
    @Body
    @if (HttpContextAccessor.HttpContext?.User.Identity?.IsAuthenticated ?? false)
    {
        <footer class="mt-auto">
            <i>Welcome, @HttpContextAccessor.HttpContext?.User.Identity.Name</i>
        </footer>
    }
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
