@rendermode InteractiveServer
@attribute [Authorize]
@inject DatabaseContext DatabaseContext
@using DiscordBot.Data
@using DiscordBot.Models.Entities
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore

<h3>Clip-Manager</h3>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>CallCode</th>
            <th>FileName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var audioClip in DatabaseContext.AudioClips.AsNoTracking())
        {
            <tr>
                <td>@audioClip.Id</td>
                <td>@audioClip.CallCode</td>
                <td>@audioClip.FilePath</td>
            </tr>
        }
    </tbody>
</table>

@code
{
    [Parameter]
    public List<AudioClip> AudioClips { get; set; } = [];
}
