@page "/Clip"
@rendermode InteractiveServer
@attribute [Authorize]
@using DiscordBot.Components.Pages.Clip.Partial;
@using Microsoft.AspNetCore.Authorization

<h2>Clip-Page</h2>
<div style="width: 100%; margin: auto">
    <Manage />
    <Upload />
</div>
