@page "/Clip"
@rendermode InteractiveServer
@using DiscordBot.Components.Pages.Clip.Partial;
@using DiscordBot.Models.Entities

<h2>Clip</h2>
<Manage AudioClips="_audioClips" />
<Upload AddAudioClip="AddClip" />
@code {
    private readonly List<AudioClip> _audioClips = [];

    private void AddClip(AudioClip audioClip)
    {
        _audioClips.Add(audioClip);
        StateHasChanged();
    }
}
