@using DiscordBot.Data
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@page "/Clip/Manage"
@inject DatabaseContext DatabaseContext
@attribute [Authorize]

<h1>Clip-Manager</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>CallCode</th>
            <th>FileName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var audioClip in DatabaseContext.AudioClips.AsNoTracking())
        {
            <tr>
                <td>@audioClip.Id</td>
                <td>@audioClip.CallCode</td>
                <td>@audioClip.FileName</td>
            </tr>
        }
    </tbody>
</table>

<br/>
<br/>

<Upload></Upload>