@page "/Login"
@page "/User/oAuth/Discord"
@rendermode InteractiveServer
@inject LoginService LoginService
@inject NavigationManager NavigationManager
@using DiscordBot.Business.Helpers.Blazor

<a href="@LoginService.DiscordAuthUrl">Click here to retry login.</a>

@code
{
    [SupplyParameterFromQuery(Name = "code")]
    private string? DiscordOAuthCode { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (DiscordOAuthCode != null)
            await LoginService.LoginUserAsync(DiscordOAuthCode);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (DiscordOAuthCode == null && !LoginService.UserIsLoggedIn)
            NavigationManager.NavigateTo(LoginService.DiscordAuthUrl);
        else
            NavigationManager.NavigateTo(RouteHelper.Home);
    }
}
