@page "/User/Login"
@page "/User/oAuth/Discord"
@inject LoginService LoginService
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor
@using DiscordBot.Business.Services

<h1>Login-Page</h1>
<div>
    @if (HttpContextAccessor.HttpContext?.User.Identity?.IsAuthenticated ?? false)
    {
        <p>Welcome, <b>@HttpContextAccessor.HttpContext.User.Identity.Name</b></p>
        <button @onclick="LoginService.LogoutUserAsync">Logout</button>
    }
    else
    {
        <a href="@_authUrl">Login with Discord</a>
    }
</div>

@code
{
    protected override Task OnInitializedAsync()
    {
        _authUrl ??= LoginService.GetDiscordAuthUrl();
        return Task.CompletedTask;
    }

    private static string? _authUrl;

    protected override async Task OnParametersSetAsync()
    {
        await LoginService.LoginUserAsync();
    }
}
