@page "/"
@using DiscordBot.Business.Helpers.Blazor
@using DiscordBot.Components.Auth

<PageTitle>Home</PageTitle>

<h1>Home</h1>
<a href="@CallbackUrl">Authenticate here: @CallbackUrl</a>

@code {
    static readonly string CallbackUrl = Common.GetRelativeRoute<DiscordAuthorization>() ?? "/Error";
}