@page "/"
@using DiscordBot.Business.Helpers.Blazor

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<a href="@RouteHelper.Clip">@RouteHelper.Clip</a>
<br />
<a href="@RouteHelper.Chat">@RouteHelper.Chat</a>
<br />
